<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      {% if request.path == '/login' %}
      {%csrf_token%}
      {% if messages %}
         {% for message in messages %}
            {{message}}
         {% endfor %}
      {% endif %}
      {{form}}
     {% endif %}

     {% if request.path == '/signup' %}
     {% csrf_token %}
     {% if messages %}
     {% for message in messages %}
              {{message}}
     {% endfor %}
     {% endif %}
     {{form.as_p}}
     {% endif %}


     {% if request.path == 'logout' %}
     {% csrf_token %}
     {% if messages %}
     {% for message in messages %}
              {{message}}
     {% endfor %}
     {% endif %}
     {{form.as_p}}
     {% endif %}
     <input type="submit" value="Submit">
    </form>
  </body>
</html>
